[2015-11-17 23:21] FaridSafi opened #1 "onPress not fired for email custom pattern"
Hello, thank you for this very useful component.

I tried to implement an email parsing using the following option:
        {pattern: /^\S+@\S+$/, style: {textDecorationLine: 'underline'}, onPress: () => { console.log('email pressed'); }},

The text is underlined properly but nothing happens when I press the word.
Do you experiment the same issue?

react-native 0.14.2
npm 2.14.7
nodejs 4.2.2

[2015-11-17 23:43] jrichardlai commented on #1
Ok thanks I'll take a look

[2015-11-17 23:49] jrichardlai commented on #1
the regexp you are using is a global regexp you should just use `/\S+@\S+/`

[2015-11-17 23:52] jrichardlai commented on #1
( also seems that the regexp url im using is too permissive )

[2015-11-18 06:36] jrichardlai commented on #1
I just added email as a pattern and the url pattern is updated in 0.0.4

[2015-11-19 05:42] jrichardlai commented on #1
Did that work @FaridSafi ?

[2015-11-19 06:26] FaridSafi commented on #1
I will test it today, thank you

[2015-11-19 14:22] FaridSafi commented on #1
Email type is working well, thx!
I'm about to release a Chat interface component. I will integrate react-native-parsed-text in it

[2015-11-19 14:22] #1 closed

[2015-11-19 15:22] FaridSafi commented on #1
https://github.com/FaridSafi/react-native-gifted-messenger

[2015-11-19 15:59] jrichardlai commented on #1
Looks good! awesome work!

[2015-12-09 15:18] yfuks opened #4 "Android error"
Hello, i just try to use this module on an Android device and i get the folowing error :

![error](https://cloud.githubusercontent.com/assets/9282988/11688907/8c00fd24-9e8f-11e5-8304-fe4c8ddd6dfd.png)

there is my code (realy simple) :

[code]

My api version : API 18

So is this module supposed to work on Android or did i miss something ?

[2015-12-09 17:21] jrichardlai commented on #4
I thought this should work out of the box for Android, definitely planning to support Android.
Thanks for letting me now.

[2015-12-09 20:16] yfuks commented on #4
Nice !
Really look for it !

[2015-12-10 09:37] yfuks commented on #4
Any idea on the timeline for this ?

[2015-12-10 11:05] dbrugne opened #5 "Doesn't work with react-native 0.16.0 due to babel"
```TransformError: /.../node_modules/react-native-parsed-test/lib/libTextExtraction.js: [BABEL] /.../node_modules/react-native-parsed-text/lib/lib/TextExtraction.js: Unknown option: /.../node_modules/react-native-parsed-text/package.json.stage```

I think you should rely on Babel 6 (as RN0.16.0) to translate code but I wasn't able to find a configuration that work. :)

Above this, what's the inter

[2015-12-10 16:59] jrichardlai commented on #5
Yeah right, I will remove that, react-native should take care of the compilation.

[2015-12-10 17:01] jrichardlai commented on #4
Sorry pretty busy at the moment, which version of react native are you using ?

[2015-12-10 17:21] yfuks commented on #4
0.15.0 actually

[2015-12-11 09:17] dbrugne commented on #5
Great!

[2015-12-11 16:23] jrichardlai commented on #5
the 0.0.7 should be good, let me know!

[2015-12-13 19:19] jrichardlai commented on #4
Okay fixed it should be good for `0.0.8` version

[2015-12-14 23:14] #4 closed

[2015-12-14 23:14] #5 closed

[2015-12-19 00:03] georgi-kovachev opened #9 "Invariant Violation: StaticRenderer"
I am getting this error

Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object. Check the render method of `StaticRenderer

from

let parse = [
        {type: 'url', style: [styles.link, (rowData.position === 'left' ? styles.linkLeft : styles.linkRight)], onPress: this.handleUrlPress},
        {type:

[2015-12-19 00:09] jrichardlai commented on #9
which version are you using ? also what is the text passed to ParsedText ? thanks

[2015-12-19 09:10] georgi-kovachev commented on #9
I am using react native version 0.16.0
react-native-parsed-text: 0.0.9
https://github.com/taskrabbit/react-native-parsed-text

Thanks

[2015-12-19 10:12] georgi-kovachev commented on #9
Sorry I misunderstood text is empty, although I specified some string, it has same error

[2015-12-19 18:12] jrichardlai commented on #9
Does it has the same error if you wrap it inside a View?

Sent from my iPhone

[2015-12-20 07:34] georgi-kovachev commented on #9
Yes I did it like this.
return (
        <View>
          <ParsedText
            style={[styles.text, (rowData.position === 'left' ? styles.textLeft : styles.textRight)]}
            parse={parse}

          </ParsedText>
        </View>
      );
But same error.

[2015-12-20 07:43] georgi-kovachev commented on #9
I even changed like this.
return (

        <ParsedText>
        </ParsedText>

      );
But same error.

FYI My class is extending component class.
and other elements are working.

class Chatpage extends Component{
}

[2015-12-20 07:53] georgi-kovachev commented on #9
I changed from 'require' to 'import' and it works.
// var ParsedText = require('react-native-parsed-text');
import ParsedText from 'react-native-parsed-text';

But in one of working example of using ParsedText it works with ParsedText.
Maybe that example is using old version?
I am not sure why.
I am closing the issue now.
Thanks

[2015-12-20 07:53] #9 closed

[2015-12-22 17:32] hartmamt opened #10 "React Native v .17 throwing error."
Unknown plugin "syntax-async-functions" specified in [appfolder]/node_modules/react-native-parsed-text/

Removing the .babelrc file fixes the issue.  I don't think it should be published to NPM.

[2016-01-05 07:52] #10 closed

[2016-01-22 15:05] vitalets opened #12 "Pass matches result to renderText"
hi!
It would be great to pass pattern matches as second param to `renderText`. That is easy and allows to avoid duoble regex parsing of already matched str.
I mean if I want to replace `aa{text}bb` with bold I just write
[code]

[2016-01-22 18:37] jrichardlai commented on #12
yes that makes sense

[2016-01-28 06:30] jrichardlai commented on #12
should be good in 0.0.11 sorry for the late response

[2016-02-05 05:19] #12 closed

[2016-02-05 08:02] vitalets commented on #12
thank you!

[2016-03-07 15:23] fender commented on #9
Thanks @georgi-kovachev

Why do we have to use `import..` ? For all other modules I am able to use `require(..)`.

[2016-05-12 12:37] mklb opened #16 "No Touchevents within a ListView"
I´m new to react native, I cant get it to work inside a ListView as a row. Somehow touchevents don´t go through.

[code]

Everything works fine outside the listview

[2016-05-13 18:27] mklb commented on #16
I won´t delete my issue because if someone had the same problem, this might help.

[code]

[2016-05-13 18:27] #16 closed

[2016-06-18 10:54] FaridSafi opened #18 "babel dependencies"
Hello @jrichardlai,
Do you think it's possible to get rid of all babel dependencies ? Why are they needed ?

[2016-06-18 16:41] jrichardlai commented on #18
Hey @FaridSafi! Yeah I can do that, they are probably not needed :)

[2016-06-18 17:08] jrichardlai commented on #18
Let me know if v0.0.15 works

[2016-07-01 21:30] jrichardlai commented on #18
@FaridSafi is this good for you now?

[2016-07-13 14:55] sixcycle-personal opened #20 "Can this work with TextInput?"
Can this be made to work live with a TextInput? My current thought would be to have a `<ParsedText />` component that is controlled by a hidden `<TextInput />` but that doesn't feel right... Any thoughts?

[2016-07-19 04:55] kristojorg commented on #20
Any update here? Is there a way to render a parsed text component over top of a text input maybe?

[2016-08-02 04:50] jrichardlai commented on #18
@FaridSafi did you had time to take a look?

[2016-08-02 04:51] FaridSafi commented on #18
Sorry for late reply, yes it works great! Thanks @jrichardlai

[2016-08-02 04:51] #18 closed

[2016-08-02 04:53] FaridSafi commented on #18
Next step will be to remove of all of them :D
Or maybe there is a preset for whats needed

[2016-08-02 04:53] jrichardlai commented on #20
Not sure if its possible, I think the tap behavior would be handled by the TextInput, maybe a hidden TextInput can work.

[2016-08-02 12:47] kristojorg commented on #20
Update - Just nest a `<ParsedText>` within the `TextInput` and it will work:

[code]

[2016-08-03 13:50] chirag04 commented on #18
`babel-preset-react-native-stage-0` does that cover everything?

[2016-09-16 04:36] bensinc commented on #9
I'm also having this issue, and am using "import:" import { ParsedText } from 'react-native-parsed-text'

My versions:

react-native-cli: 1.0.0
react-native: 0.33.0

The text doesn't seem to matter. It can be blank, have matching URLs, or no matches, and still fails.

[2016-09-16 04:46] jrichardlai commented on #9
try `import ParsedText from 'react-native-parsed-text';`

[2016-09-16 04:48] #20 closed

[2016-10-24 17:51] it33 opened #22 "Add an open source license?"
Thanks for sharing this project! We'd love to use it as part of the [Mattermost open source project](https://www.mattermost.org/) in our [React Native mobile app](https://github.com/mattermost/mattermost-mobile) (which users an [Apache 2.0 license](https://github.com/mattermost/mattermost-mobile/blob/master/LICENSE.txt)).

Would you consider adding either an MIT or an Apache 2.0 license?

To do so

[2016-10-24 18:27] jrichardlai commented on #22
Thanks for noticing that, just added a MIT License

[2016-10-24 18:27] #22 closed

[2016-10-24 19:23] it33 commented on #22
You're awesome, thanks!!

[2016-12-14 16:03] evollu opened #25 "onLongPress not working for matched text"
onPress works fine but onLongPress doesn't work. It seems to be a bug in react native. Is there any work around?

[2017-01-12 14:53] #25 closed

[2017-02-08 16:16] filbertasurion opened #28 "Regex for url is incorrect"
"Www.google.com" is not treated as link.

[2017-02-08 16:28] #28 closed

[2017-03-08 17:00] ajwhite opened #29 "Child Text components do not respect `allowFontScaling={false}`"
Child Text components [do not inherit any properties from their parent](https://github.com/taskrabbit/react-native-parsed-text/blob/v0.0.10/src/ParsedText.js#L56-L63) -- rightfully so, we wouldn't want `onLayout` being passed to all the child Text components, and React Native does a good job of [automatically passing down style and display related rules with text nesting](https://facebook.github.i

[2017-03-23 09:54] ariona opened #30 "renderText prop not updated using HMR"
Hi, Thanks for this great module, it's really help me getting my work done. However there is small issue with renderText prop and HMR. I can't see it updated when there is a changes in my code.

I need to manually reload the app to get the result. Is it normal behaviour?

[2017-04-26 22:38] devbriguy opened #32 "Does not consider Test.com to be a URL"
Hi, great module. I was trying out Test.com or Test.org and these would not be discovered as URL. Any chance this is expected or it's a bug? Thanks in advance.

[2017-05-03 19:05] sventech commented on #32
From the example it looks like you need to specify `http://test.com` instead of just `test.com`. You could add another custom URL handler to cover the common TLDs (com,org,net,io,etc.)

[2017-05-03 19:10] devbriguy commented on #32
Hi @sventech Yeah that's what I did:

[code]

[2017-05-03 19:10] #32 closed

[2017-07-11 14:04] AndrewJack opened #33 "PropTypes has been moved to a separate package"
React 15.5 and later have moved PropTypes to a separate package
[code]
https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html#migrating-from-react.proptypes

Does this library require the outdated version of react native or has an update never been required?

If so can we update it?

[2017-07-12 05:07] bleonard commented on #33
Happy to accept that PR. We're not fully up to date and haven't had to do it yet.

[2017-07-26 21:53] brunocascio commented on #33
I've just added a PR: https://github.com/taskrabbit/react-native-parsed-text/pull/34

[2017-07-27 08:09] AndrewJack commented on #33
Ah thanks!

[2017-08-08 09:59] winnerliu opened #35 "error: bundling failed: "TransformError"
error: bundling failed: "TransformError: E:\\workplace\\rnworkplace\\chatDemo\\n
ode_modules\\react-native-parsed-text\\lib\\ParsedText.js: [BABEL] E:\\workplace
\\rnworkplace\\chatDemo\\node_modules\\react-native-parsed-text\\lib\\ParsedText
.js: Using removed Babel 5 option: E:\\workplace\\rnworkplace\\chatDemo\\node_mo
dules\\react-native-parsed-text\\package.json.stage - Check out the correspo

[2017-09-20 13:06] WaldoJeffers opened #37 "is:issue is:open [feature request] Replace matched text by a component"
Hello,

Great module! I'd like to propose a feature request, and see if other people would be interested in this:
I have a use case where I need to match text fragments and replace them with some other texts which need to be wrapped in `<TouchableOpacity />` components, to make them easily clickable/tapable. Currently, as `renderText` only accepts strings as output values, this is not possible. Bu

[2017-09-29 19:01] aforty commented on #33
Can we merge #44 and update the package?

[2017-09-30 04:32] CaryLandholt commented on #33
react 16 is out and this package breaks due to PropTypes being removed

[2017-10-26 13:30] joncursi opened #40 "Usage on web: Unexpected token import"
Can you use Babel to compile the source code into ES5 before publishing to NPM? I am trying to use this library on a website using `react-native-web`, but browsers can't interpret ES6+

[2017-11-14 15:11] JonsonHI opened #41 "How do I get navgate and I use the react-navgation in the onpress method"
How do I get navgate and I use the react-navgation in the onpress method
thanks

[2017-11-14 15:14] bleonard commented on #41
I bleive you'd do `navigator.push()` in the `onPress` method you define.

[2017-11-15 01:55] JonsonHI commented on #41
Yes, but I'm using the react-native 0.44 version of the react-navigation route

[code]

[code]

Error message:
Cannot read property 'navgation' of undefined

[2017-11-15 02:03] JonsonHI commented on #41
I can use it in this method
[code]
Now there is use # and @ in the project, so please help, thanks

[2017-11-15 02:41] bleonard commented on #41
note that it's `props` that is undefined. Maybe you have a binding issue. do a `bind(this)` in the render method or bind it in the constructor.

[2017-11-15 03:09] JonsonHI commented on #41
Thank you again for your reply
[code]

[2017-12-14 23:14] Un3qual commented on #20
Note that @kristojorg's solution only works if your parsed output is the same as the input. For example, if you are replacing `some **bold** text` with

this will not work because as soon as the parser removes the `**`s, the text input updates, triggering the input to be re-parsed (without the `**`).

[2017-12-28 20:00] paiw opened #42 "Paiw"
From a425de7435c6fedf7c3672963e82d900da7b529d Mon Sep 17 00:00:00 2001
From: Sriram Balasubramaniam <sriramb@microsoft.com>
Date: Wed, 27 Dec 2017 15:37:39 +0530
Subject: [PATCH] Improving agent communication failure troubleshooting

---
 docs/build-release/actions/troubleshooting.md | 6 +++++-
 1 file changed, 5 insertions(+), 1 deletion(-)

diff --git a/docs/build-release/actions/troubleshooting

[2018-02-08 12:39] RaphArbuz opened #43 "Not parsing when 2 variables"
Strange thing:
`<ParsedText ...>{a} {b}</ParsedText>`
does not get parsed but
`<ParsedText ...>{a + ' ' + b}</ParsedText>`
does.
I don't know if it's a bug or if I'm doing something wrong.

Many thanks!

[2018-02-08 20:30] devbriguy opened #44 "Multiple patterns detected but expected email"
I enter in text: 2125551079@example.com and it render with phone and url patterns.

**Actual:**
<img width="256" alt="screen shot 2018-02-08 at 3 25 55 pm" src="https://user-images.githubusercontent.com/16087561/35996454-96a29baa-0ce4-11e8-96f9-3d0a9831be6d.png">
red = phone
blue = email
green = url

**Expected:**
Highlighted blue for email

[2018-02-08 20:37] devbriguy commented on #44
Closing as fixed by ranking the email higher in the parse prop as followed:
[code]

[2018-02-08 20:37] #44 closed

[2018-03-19 13:44] webraptor opened #46 "Support IP & IP:PORT hostnames in URL pattern"
Currently the URL pattern doesn't match IP and IP:PORT hostnames.
It supports only FQDN because the regex requires the TLD to be present.

**Current regex**
/(https?:\/\/|www\.)[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)/i

**Proposed regex**
/(https?:\/\/|www\.)[-a-zA-Z0-9@:%._\+~#=]{2,256}**(**\.[a-z]{2,6}**)?**\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)/i
if not very clear

[2018-05-16 10:09] zeflash commented on #20
@Un3qual do you have a solution for this? I have the same problem, trying to include "extra data" & keep it while I'm editing things up.

[2018-06-01 12:15] emilkarl commented on #37
Yeah, or images or similar. Would be awesome!

[2018-06-03 08:05] brownieboy opened #48 "Presets for Markdown"
I've been experimenting with this very excellent library to try and implement a basic Markdown functionality.  So far, I have bold, italics and strikethrough working.  I wondering if there's any interest out there in a PR to add such functionality, or maybe setting it up as an add-on to it.

I've gone for the asterisks to denote bold text, underscores for italics and dashes for strikethrough.  Thi

[2018-06-04 09:23] emilkarl opened #49 "Inline images in messages?"
Has anyone got inline images in messages working? Trying to add a pattern for it but I cant make them split the lines. Seems like it should be an easy fix.

[code]

[code]

[2018-06-11 07:27] AkAyush opened #50 "Replace the phone and email into the chat with *******"
Issue Description

Hi, I am using react-native-gifted-chat and I wanted to know, how to restrict the user to input any phone number or email address in chat ??

In My second scenario, I want to replace my chated phone number or email with ********* so that the end user cant see the shared number or email for the privacy reason.

PLEASE HELP I AM NEW WITH THIS LIBRARY

React version: "16.3.1"
React

[2018-08-27 11:00] shukerullah opened #51 "Style prop does not works with parse"
`style` props is not working if I add `parse`.

[code]

[2018-10-25 02:52] jm90m commented on #37
Yeah this feature would be great, or make another setting to `renderComponent` so we can choose the parent component and child components to render.

[2018-11-15 21:16] fbartho commented on #41
Closing as fixed!

[2018-11-15 21:16] #41 closed

[2018-11-15 21:18] fbartho commented on #37
This is great, but currently, today, react-native doesn't support arbitrary components embedded inside a text-components. -- This may be a difficult feature to build, as you'd have to split text subcomponents into bits, and figure out how the rendering & layout would work. If a PR has this working, I'd be happy to review it!

[2018-11-15 21:31] fbartho commented on #29
Fixed by #29

[2018-11-15 21:31] #29 closed

[2018-11-15 21:32] fbartho commented on #30
I think this is a bug, if someone wants to find a fix for react-native-parsed-text & hot-module-reloading, I'd be happy to review the PR

[2018-11-15 21:34] fbartho commented on #40
This is an old issue, I don't think this is a concern anymore. Please message back if we can't rely on ES6+ -- react-native core relies on ES6 these days.

[2018-11-15 21:34] #40 closed

[2018-11-15 21:43] fbartho commented on #51
@shukerullah -- if you still want this, somebody can add this as a feature.

The issue is that right now, we're merging the `<ParsedText`-style prop and it's conflicting with the style that's in the parameter.

One fix would be to apply *both* styles. Another fix would be to change the order that these props override each other.

Either of these would be breaking changes to the library, so we'd ne

[2018-11-15 21:51] fbartho commented on #50
Hi @AkAyush -- if you're still interested in this type of thing, one way you could do this is with a recognizer:

[code]
You then would provide your own renderText function that does something like:
[code]

You can get as fancy or as simple as you want! Message back if you need further help.

[2018-11-15 21:51] #50 closed

[2018-11-15 21:53] fbartho commented on #49
Hi @emilkarl this needs the feature described in #37, closing as duplicate!

[2018-11-15 21:53] #49 closed

[2018-11-15 21:58] fbartho commented on #33
Fixed in #34

[2018-11-15 21:58] #33 closed

[2018-11-15 22:07] fbartho commented on #46
@webraptor
I worry that this would start matching undesirable things as so many chunks are optional.

If you want to submit a PR we could potentially see what it looks like & add tests.

Alternatively, obviously, you can override the regexp yourself for some components, or you can in the next release directly patch the `PATTERNS` table, if you want to apply this fix globally for yourself.

https:/

[2018-11-18 15:44] WaldoJeffers commented on #40
@fbartho This might be an "old" issue, but it's still valid, as you're only exporting an ES6 (with ES6 modules syntax), and not a browser-ready bundle. The problem is when you're trying to use your module outside of the Metro bundler context (it's not related to whether React Native uses ES6 internally or not), which _by default_ transpiles `node_modules` contrary to other bundlers such as Webpack

[2018-11-18 19:20] fbartho commented on #40
React Native Web made some different technical decisions than other libraries such as
https://github.com/vincentriemer/react-native-dom or
https://microsoft.github.io/reactxp

It’s not clear to me that -web is the winning technical solution here. Adding a whole build tool chain for -web seems like a lot today. But if somebody contributes easy modifications to support it, then that might be okay (r

[2018-11-27 13:51] magrinj commented on #51
@fbartho Why it's not working now, I used this library long time ago and that was working perfectly ?
I take a look in your code, and you directly pass the remaining props to Text, so I don't really understand why the style is not applied...

[2018-11-27 14:31] magrinj commented on #51
@fbartho I create a PR for this

[2018-11-28 16:47] emmx opened #54 "Not parsing with numberOfLines"
The following snipped does not change the styling of "bar" unless I remove the /numberofLines/.

Any idea why or is it a bug?

[code]

[2018-11-28 16:51] emmx commented on #54
Never mind, my problem was actually similar to #43 except I was using something like "{foo} bar" as the content of the component. Closing this.

[2018-11-28 16:51] #54 closed

[2018-12-18 10:51] leiz-me opened #56 "How can I get the url parsed?"
Let say,
I use parsed-text within ```<Textinput />```, like https://github.com.
How can I get the ```https://github.com``` url string?

Or another use case which is more general, when input something like ```Hey, I want to see you guys on https://facebook.com !!! Come on, that would be fun!!!```, facebook link would be parsed and changed the color, but how can I get the facebook link string from t

[2019-01-11 11:41] #56 closed

[2019-02-12 16:02] xcarpentier opened #57 "Add Typescript definition"
Hi,
Thanks for this project.
I'm using TypeScript.
It will be great to add a definition file.
Thanks.

[2019-03-19 15:09] thinklinux commented on #43
The problem probably is that for react `{a} {b}` translates to tree children like so ['a', ' ', 'b'] and `{a + ' ' + b}` is only one child which is just a simple string not an array of strings. I think the code is assuming that you have only one child inside `<ParsedText>`. I'm not sure that that's a bug tho. And you are not doing anything wrong for sure.

[2019-03-30 09:43] Albert0405 opened #59 "How to search this"
I need to change the styling of a given string unfortunately it contains `( ) + %` these symbols

example:
`Jumping causes damage of 550 (+50% Total Physical Atk)`

how can i style the `(+50% Total Physical Atk)` without having an error of `invalid regular expression: nothing to repeat`

My code
[code]

[2019-03-30 12:19] #59 closed

[2019-04-23 15:22] Albert0405 opened #60 "How to use variable in Regex?"
This is my code and i wanted to parsed a dynamic string from an array unfortunately it gave an error saying `Type Error: pattern.pattern.exec is not a function`. I believe im doing it wrong becaue i dont know how to use a variable on regex string
[code]

[2019-05-29 16:22] hugomosh opened #62 "Is this maintained?"
I see some open issues and last update from nov 2018. I am wondering if the repo is updated or shall we search for alternatives? Or help to maintain it?

[2019-05-30 11:02] gianpaj opened #63 "Using linkify as parser or another library"
See the demo https://soapbox.github.io/linkifyjs/

and the docs section "Find all links in the given string"

https://soapbox.github.io/linkifyjs/docs/
[code]

[2019-07-02 10:37] Chahdro opened #64 "URl preview"
Possibility to add url preview on parsed text
![image](https://user-images.githubusercontent.com/11610859/60506442-be7b1480-9cbd-11e9-9aa5-f2d85ad9046c.png)

[2019-07-15 12:49] hossamnasser938 commented on #60
`map` function returns a new array. Are you sure you want to return an array of `ParsedText`?

[2019-07-22 16:46] Kiran0791 opened #65 "Text returned from method is not getting parsed"
Hi,

In my case the text is returned from a function.

 <ParsedText
parse={
                            [
                            {type: 'url', style: {color:"red"}, onPress: this.handleUrlPress},
                            ]
                        }

         {format(answers)} </ParsedText>

in this case the parse is not happening

Help me on this

Thanks

[2019-07-22 16:59] #65 closed

[2019-08-09 07:39] passerbyloo commented on #65
how to handle this case.

[2019-08-09 08:22] passerbyloo opened #67 "How to use I18n to make pattern"
I want to match a constant, which is return from `I18n.t('test')`.

But the pattern don't know how to handle it. I try `pattern: /I18n.t('test')/` but it not work

[2019-08-09 08:26] passerbyloo commented on #67
found it

[2019-08-09 08:26] #67 closed

[2019-09-05 11:39] uladkasach opened #68 "onPress feedback"
it would be great to be able to provide some sort of onPress feedback for the user.

one option could be having a `renderComponent` method, similar to a `renderText` method, to overwrite the default. Usage could be as follows:
[code]

[2019-09-05 18:53] paolitaclo opened #69 "numberOfLines is not working for Android"
I'm using this library, and when passing the `numberOfLines` prop it works on IOS but it doesn't on Android. This is my code:
[code]
and I'm implementing my component like this:
[code]

[2019-10-01 19:16] #51 closed

[2019-11-06 19:42] saadqbal commented on #67
Hey @passerbyloo how did you solve it ?

[2019-11-07 03:18] passerbyloo commented on #67
`pattern: new RegExp(I18n.t(''))`

[2019-11-18 23:38] TySol opened #70 "fontFamily error on ReactNative v60"
This package is now failing unless explicitly given a fontFamily style for both the parent & child render methods in ParsedText. For now I have simply added fontFamily to my use-cases. Any ideas why this issue is arising as of v60?
![Screen Shot 2019-11-18 at 4 10 06 PM](https://user-images.githubusercontent.com/3915961/69103114-bed43c00-0a21-11ea-843a-2efff83a61ad.png)
<img width="560" alt="Scree

[2019-11-18 23:53] #70 closed

[2019-12-05 05:00] catmans1 opened #71 "Some props style cant work"
i use the version
`
"react-native-parsed-text": "0.0.21",
`
It cant work with style
[code]
Could anyone find solution for this?
Thank you!

[2019-12-19 06:20] CampbellMG opened #72 "Global flag not respected on regex pattern"
If I utilise a regex with the global flag enabled, like this:

`<ParsedText parse={[{pattern: /a/g, renderText: () => 'z'}]}>
    aaaa
</ParsedText>`

I would expect the output to be: `zzzz`

Whereas, I would expect this:

`<ParsedText parse={[{pattern: /a/, renderText: () => 'z'}]}>
    aaaa
</ParsedText> `

to output: `zaaa` as the global flag is removed and is only matching the first instance.

[2019-12-29 06:24] #60 closed

[2020-01-15 10:56] bockc commented on #20
Looking for a way to make this work with a TextInput as well :/

[2020-01-22 13:51] plus- commented on #57
https://github.com/taskrabbit/react-native-parsed-text/pull/55

[2020-03-07 05:19] MuhammadMattiullah opened #75 "Pattern for Bold and Italic is not working"
[code]
Required Output:
This is the **bold** text

Please can someone tell me @jrichardlai @fbartho

[2020-03-11 18:51] BenScalabrin commented on #75
@MuhammadMattiullah

add this in your json `renderText: (matchingString, matches) => matches[1]`

works to me

[2020-03-18 14:09] copper123 opened #76 "parse the state"
How can I parse the variable from this.state.xx? the code below give no help

<ParsedText
     style={styles.text}
     parse={
     [
        {pattern: /{this.state.search}/,style: styles.found},
     ]
      }
childrenProps={{allowFontScaling: false}}

blahblah
</ParsedText>

[2020-03-24 13:32] frankyjuang opened #77 "New release?"
Is this repo not maintained anymore?

[2020-04-04 00:48] dhruvdewangupta commented on #76
try

`pattern: /${this.state.search}/`

[2020-04-11 14:23] copper123 commented on #76
thanks dhruvdewangupta, but it does not work

[2020-05-17 02:43] sunny1105 commented on #69
Any update on the above issue?

[2020-06-01 10:48] skizzo commented on #48
Thanks @brownieboy for the snippets, they're really helpful!
One question though, this works fine **only** for the first occurrence of the markdown pattern, so:

`This is *some bold text*`
is rendered as:
This is **some bold text**.

whereas

`This is *the first*, and this *the second* bold text.`
is rendered as:
This is **the first**, and this \*the second* bold text.

Any ideas how to make this

[2020-06-02 12:25] brownieboy commented on #48
@skizzo

Try these:

[code]

The first two taken from react-markdown-jsx so should work better than my first attempt.

[2020-06-03 03:30] JongGyuChoi commented on #76
i found the solution
try
pattern : RegExp(variable)

[2020-06-05 10:09] cltsang commented on #72
It fails to work in a pattern.
If you keep typing a without space, the match pattern is
OXOXXOXXXOXXXXOXXXXXO and so on
If you type space in between, the first 2 chars are matched.

Here's a snack to test it out: [https://snack.expo.io/@cltsang/parsed-text-match-test](https://snack.expo.io/@cltsang/parsed-text-match-test)

[2020-06-05 10:23] cltsang commented on #72
Update: #47 fixed this issue.

[2020-06-07 13:46] socialcode-rob1 commented on #75
Depending on your pattern, it could be a different element in the array

[code]

[2020-06-10 23:34] fbartho commented on #72
@CampbellMG  This actually would be pretty heavy a breaking change to the library.

Everyone who hasn't been using the global flag would have to update their regexes.

Basically, the global-flag is implicit & assumed to be true by the current implementation.

Would a good compromise be a separate setting on the parse command that switches on "non-exhaustive" mode?

[code]

This library has been a

[2020-06-11 00:23] fbartho commented on #77
It is still maintained! Closing this ticket. New release in #79

[2020-06-11 00:23] #77 closed

[2020-06-11 00:25] fbartho commented on #76
Closing the issue since there's a suggested solution. Please let me know if that doesn't work @copper123

If you find a bug or have a PR, I'm working on a new release in #79

[2020-06-11 00:25] #76 closed

[2020-06-11 00:27] fbartho commented on #75
@MuhammadMattiullah both of the suggestions above would have been what I recommend for you.

I'm going to close this since there are ways to do what you ask, but if it doesn't work, please do comment back, and I'm happy to reopen it.

If you find a bug or have a PR, I'm working on a new release in #79

[2020-06-11 00:27] #75 closed

[2020-06-11 00:28] fbartho commented on #71
I'm not sure what the exact problem is @catmans1 -- did you figure this out?

Since this is a ticket from last year, I'm going to assume it's not valid anymore, but if you still have problems with what you're trying please write back and I'm happy to open it again.
If you find a bug or have a PR, I'm working on a new release in #79

[2020-06-11 00:28] #71 closed

[2020-06-11 00:32] fbartho commented on #69
@sunny1105 -- the way this library works is that it renders a different text component for every item you match.

That means that you can't easily limit it to a specific number of lines.

This also applies to other "complex" attributes on `<Text` like your `onTextLayout` function -- as I read the code, it will pass that method through to the children-text-components, but I don't know if it will do

[2020-06-11 00:35] fbartho commented on #69
To elaborate, the fact that this works on iOS/not on android is a fluke. The relevant code is here:
https://github.com/taskrabbit/react-native-parsed-text/blob/e8f140e170a71c85e4358dcd9f64d593c10ad9fd/src/ParsedText.js#L71-L80

That said, you may have success if you pass the `numberOfLines` prop to the `childrenProps` parameter!

[2020-06-11 00:37] fbartho commented on #68
This is an interesting idea @uladkasach.

One problem, however is that many components (including Image) are not allowed to be nested inside of a Text Component on some platform.

If you still want this, I'd be happy to review an appropriate PR. It is not however high priority for me to implement this myself at this time.

If you don't want this, please let me know so we can close this ticket. Tha

[2020-06-11 00:41] fbartho commented on #64
@Chahdro -- this is a great idea. It's unfortunately much more complex than it sounds, and probably out-of-scope for this library.

That said: if somebody implements the feature discussed in #68, then you'd be able to build this on your side and glue in a `<LinkPreview>` component.

I'm going to close this for now, but if you or others are motivated, we can keep discussing it here, and I'm happy t

[2020-06-11 00:41] #64 closed

[2020-06-11 00:42] fbartho commented on #63
@gianpaj this is neat, but sort of feels like an *alternative* to this library.

Is this something you're still interested in discussing? I'm going to close this for now, as it's over a year old, but if this is still interesting, we can reopen the ticket.

If you find a bug or have a PR, I'm working on a new release in #79

[2020-06-11 00:42] #63 closed

[2020-06-11 00:44] fbartho commented on #62
@hugomosh @gianpaj @kdbcinco-cs @levgenRagulin -- I'm happy to say this library is still maintained. We just lost track of Github Notifications / Pull Requests

Is this something you're still interested in discussing? I'm going to close this for now, as it's over a year old, but if this is still interesting to discuss, we can reopen the ticket.

If you find a bug or have a PR, I'm working on a new

[2020-06-11 00:44] #62 closed

[2020-06-11 00:46] fbartho commented on #57
Happy to say that this did merge, and will be in the next deploy.

If you find a bug or have a PR, I'm working on a new release in #79

I'm going to close this issue for now, but happy to reopen it if we still need to discuss this. At some future date I'd also consider converting this whole library to TypeScript, but that's a future discussion.

[2020-06-11 00:46] #57 closed

[2020-06-11 00:50] fbartho commented on #30
I believe this ticket is no longer relevant because React has moved to Fast Refresh

Happy to reopen if needed.

If you find a bug or have a PR, I'm working on a new release in #79

[2020-06-11 00:50] #30 closed

[2020-06-11 00:51] fbartho commented on #37
related issue: #64
related issue: #68

[2020-06-11 00:52] fbartho commented on #68
I'm going to close this ticket in favor of the older #37 -- please feel free to comment back if we should reopen this!

[2020-06-11 00:52] #68 closed

[2020-06-11 00:53] fbartho commented on #46
I'm going to close this ticket as I provided workarounds 2 years ago! (time flies)

If this is still interesting, we can reopen the ticket.

If you find a bug or have a PR, I'm working on a new release in #79

[2020-06-11 00:53] #46 closed

[2020-06-11 00:56] fbartho commented on #43
This is a limitation of how React works. Depending on your exact code, I'd say you could use the latter pattern that you suggested in your issue description.

If you want, you can make a special component that uses the React.Children APIs to concatenate all the strings for you into a single component.

I'm going to close this ticket as it's over 2 years old, but if you think you still want to disc

[2020-06-11 00:56] #43 closed

[2020-06-11 00:59] fbartho commented on #48
Markdown is a crazy beast, and there are many flavors!

I'd support if we want to add this as an Example or Documentation, but I don't want us to add it to the default patterns or we'll have fights between "Standard Markdown" or "Markdown+" or "Github-Flavored Markdown" or others.

Additionally, as alternatives, there are other libraries more optimized for markdown. For example, as a transitive de

[2020-06-11 00:59] #48 closed

[2020-06-11 04:22] CampbellMG commented on #72
Your second solution won't quite work in [my app](https://play.google.com/store/apps/details?id=com.cmgcode.regexoff&hl=en_AU) as the regex passed to the component is user defined which makes it tricky to modify.

Your suggestion of a non-exhaustive switch would work perfectly, although in your example it looks likes you are suggesting a `numberOfMatches` option. How would this work if I don't kno

[2020-06-11 08:54] lizzieshipwreck commented on #72
Hi - not sure if this is related to the issue at all, but I'm currently not getting all matches returned for a regex pattern like the following: `/@Bob|@Alice|@Steve/gi` - where the number of names can be any length. No matter how many names are in the regex, it only matches the first 2 in the parsed text string. Any idea what's going on?

[2020-06-11 16:13] sh-helen commented on #72
These is a confusing problem with global flag right now.
Example: `lol lol lol lol lol lol lol lol`
Regex pattern: `new RegExp('lol', 'gi')`

Since lib is making substrings on each iteration and extracts matched string part by part https://github.com/taskrabbit/react-native-parsed-text/blob/master/src/lib/TextExtraction.js#L39
`match.index` won't be correct, since every exec updates the lastIndex

[2020-06-11 16:34] fbartho commented on #72
@CampbellMG -- that was a slightly different version of the API I was thinking about.

-- "non-exhaustive" should be relatively easy to implement. `nonExhaustive: true` or should we call it something else?

[2020-06-11 16:38] fbartho commented on #72
@lizzieshipwreck @sh-helen thanks for the concrete examples! I can add those to the unit tests now and see if it's behaving as you expect.

[2020-06-11 16:43] fbartho commented on #72
@sh-helen
Would you mind further clarifying your "expected output"? -- I haven't been using this library much where I cared about the values of the indexes, so I'm not fully sure what behavior is correct or unexpected.

This is one of the reasons why I made a release branch, and shipped a beta build -- matchIndex behavior doesn't appear to have unit tests (or my changes didn't break or fix them) a

[2020-06-11 17:02] sh-helen commented on #72
@fbartho Sure
I think I can share a fiddle with copy-paste of Extraction class, https://jsfiddle.net/L28s0kdn/5/,
so as you can see the output in the console is 6, but I have 8 matches, and if you remove `g` flag you will exactly see 8 matches

[2020-06-11 17:58] fbartho commented on #72
@sh-helen Thanks! -- The more I think about this, the more I don't know what the global flag was *expected* to do in the original code.

- Should a global flag mean that it matches against the "original whole text" that is passed in?
- I think the global flag used to be completely broken.

Not sure where this leaves us as to what we want to happen.

[2020-06-11 18:03] fbartho commented on #72
@sh-helen I have a fix here! https://jsfiddle.net/91v5dyhx/1/

Let me know if this does what you would have expected? /cc @CampbellMG

[2020-06-11 18:09] fbartho commented on #72
I've published v0.0.22-beta.3 with this code! (I messed up when publishing beta.2)

[2020-06-12 06:24] sh-helen commented on #72
@fbartho yep, it separates words correct, but for some reason it takes whitespace into account as a separate part also, `textLeft = textLeft.substr(matches.index + matches[0].length).trim();` trim should fix it there, but needs to be checked whether it may broke smth

[2020-06-12 14:58] fbartho commented on #72
@sh-helen Do you have a test case that demonstrates the problem? Happy to see what I can do!

[2020-06-14 12:49] sh-helen commented on #72
@fbartho double checked it again with my project, it seems that it works correct now, thanks for your help!

[2020-06-15 06:52] CampbellMG commented on #72
Works perfectly, thanks @fbartho!

[2020-06-15 16:25] fbartho commented on #72
Oh great! So we don’t need the suggested nonExhaustive flag then? Or: is that still a feature request?

@CampbellMG

[2020-06-16 01:44] CampbellMG commented on #72
Sorry, that was confusing. It works against the other use case, however, the nonExhaustive flag would still be required for mine.

Running my original test case against your fiddle still outputs all matches:

![image](https://user-images.githubusercontent.com/40409896/84722451-9e279100-afc6-11ea-99a3-da2e71098521.png)

[2020-06-16 02:02] fbartho commented on #72
Thanks for clarifying! Yeah, I figured we’d still need to add nonExhaustive for your original request. @CampbellMG

I’ll take a look tomorrow!

[2020-06-18 01:03] fbartho commented on #72
@CampbellMG -- I started implementing something, but I think I confused myself, and actually don't have a good enough example to make sure I actually got what you expected to happen!

Would you mind providing a sample of your non-global pattern, and how many matches you would expect to have for a specific sample text?

[2020-06-18 01:24] CampbellMG commented on #72
Is the example from the original question okay?

Essentially, if I have the text `aaaa` and the pattern `/a/` I would expect one match (the first letter). If I were to disable the `nonExhaustive` flag, the current behaviour would apply which returns 4 matches (one for each letter).

[2020-06-18 01:29] fbartho commented on #72
@CampbellMG  -- I think that works! I implemented most of this in this PR: https://github.com/taskrabbit/react-native-parsed-text/pull/80

I'll add a test now and see

[2020-06-18 02:04] fbartho commented on #72
@CampbellMG -- Tests added here: https://github.com/taskrabbit/react-native-parsed-text/pull/80/files#diff-457716221106599b3c1239b4af35508dR323-R363

I think it's working!

[2020-06-18 02:37] CampbellMG commented on #72
That's phenomenal, thank you for that.

So by the looks of it, we set a `nonExhaustiveModeMaxMatchCount` rather than a flag?

[2020-06-18 05:29] fbartho commented on #72
Yeah, that’s right. It felt more flexible than just a Boolean, even if you didn’t directly need that behavior.

[2020-06-18 22:45] fbartho opened #81 "Feature: Nested Matchers"
The current Architecture doesn't really support nested matchers. It says if you match a thing, then the hunk of text that was matched is no longer eligible to be matched by something else.

And unfortunately this is order dependent so you should put your important patterns as early as possible in the pattern list.

## Example:
`[b]Bold[/b] [i]italic [b]italic and bold[/b][/i]`
1. If you have your

[2020-06-22 08:29] raazatul7 opened #82 "Google maps URL not getting parsed due to comma"
I have this link from google maps - "http://maps.google.com/?q=28.6079884,77.0891879"
I use react-native gifted chat to open the link on clicked but the problem is when I use parsed method the URL I get is - "http://maps.google.com/?q=28.6079884"
Which is wrong.
Let me know what should I do to get the full URL.

[2020-06-24 19:28] #72 closed

[2020-06-24 19:28] #82 closed

[2020-06-24 19:30] fbartho commented on #72
Shipped in https://github.com/taskrabbit/react-native-parsed-text/releases/tag/v0.0.22 !

[2020-06-24 19:33] fbartho commented on #82
Shipped in https://github.com/taskrabbit/react-native-parsed-text/releases/tag/v0.0.22 ! @raazatul7 -- please let me know if you have any issues.

[2020-07-30 14:56] sellmeadog commented on #81
I have a pretty simple use case, but require nested matching nonetheless. After playing around with `react-native-parsed-text`, it was easier to roll my own component that meets my specific needs. The entire component and pattern matching logic is shown below and its simplicity matches that of my use case but perhaps it can be used as inspiration to provide more comprehensive nested pattern matchi

[2020-07-30 16:21] fbartho commented on #81
@sellmeadog -- this is great! Were you proposing this as a way to rewrite this library? or just as an example on how to do it if people need this feature?

A. I'm just the steward of react-native-parsed-text, not the originator, so I'm probably not going to completely rewrite this library.
B. If it's just an example on how to do this if your application needs it, then I'd be comfortable closing th

[2020-07-30 18:15] sellmeadog commented on #81
It's not a strict proposal, I was just trying to showcase what worked for me and see what value it might add to the overall discussion. I think it could be the base of a rewrite, but `react-native-parsed-text` seems to do a bit more like supporting click interaction, limits on matching, etc., which I have not taken into consideration.

[2020-08-27 08:54] vijayst commented on #69
If i set numberOfLines in childrenProps, it does not seem to work. It works if I set it directly on the component.

[2020-10-20 20:38] ivankdev opened #88 "[Android] Incorrect bold font processing"
Preconditions:

```Platform: Android```
[code]

Issue:

Could someone explain this behavior? And how could we fix it?

______

And this happens for any array of parse param. BUT SHOULD NOT!
I configured some banch of parse templates, but usual text is affected because of this.
Any clues?

______
I've put this font here as well
[EENobblee-Bold.ttf.zip](https://github.com/taskrabbit/react-native-par

[2020-10-20 20:40] aviemore commented on #88
@fbartho

[2020-10-22 14:15] ivankdev commented on #88
@fbartho, anyone? any clues?

[2020-10-22 18:59] fbartho commented on #88
@aviemore no idea! -- this is super interesting. It might be a bug in how the top level text object is built. I would expect those two cases to be the same.

I would try to compare the Component tree in both cases (using the Inspector).

I suspect something different is happening in `parse()` here: https://github.com/taskrabbit/react-native-parsed-text/blob/fded31e2012959d1d4c3ade0e47e4d826e732fd0

[2020-10-27 14:47] copper123 commented on #76
Sorry for the late.
Still does not work
@JongGyuChoi  do you mean
pattern : RegExp(/{this.state.search}/)

[2020-10-28 00:31] copper123 opened #90 "this.state cannot be parsed"
In the issue #76 , the way suggested is not working, please help

this.state.search cannot be parsed, please help. Thanks

<ParsedText
style={styles.text}
parse={
[
{pattern: /{this.state.search}/,style: styles.found},
]
}
childrenProps={{allowFontScaling: false}}

pattern : RegExp(/{this.state.search}/) is not working also.

[2020-10-28 01:43] copper123 commented on #90
it is solved. Thanks. please close this issue.

[2020-10-28 01:44] #90 closed, assigned to nobody

[2021-01-26 10:01] Quang-Dong opened #93 "renderText's style does not work after I adding any character inside TextInput tag"
Preconditions:
      `Platform: Android`

      "react-native": "^0.61.5"
      "react-native-parsed-text": "^0.0.22",

issue:

![image](https://user-images.githubusercontent.com/31912279/105828320-94065000-5ff5-11eb-8b25-5b18db425e1d.png)

Actual result:

Expected result:

Help me, please!

https://user-images.githubusercontent.com/31912279/105827819-075b9200-5ff5-11eb-84c5-f6ede56633fe.mp4

[2021-01-27 04:16] andrefangeloni opened #94 "Multiple hashtags"
Hi there,
When the text has multiple hashtag, how could I know witch of them was pressed?
e.g:
Nice job!
#foo #bar

I'd like to do a feature likes Instagram, search for specific hashtag, but onPress is generic.
Thanks

[2021-03-18 23:03] MikhailVasiliev opened #95 "how to make ellipsizeMode working?"
have such text and need to truncate it at the end, so need to apply ```ellipsizeMode={'tail'}```
<img width="284" alt="Знімок екрана 2021-03-19 о 01 02 09" src="https://user-images.githubusercontent.com/24992980/111708649-e7a35600-884e-11eb-8484-83f6f6991e79.png">

how can I do that?

[2021-04-09 06:36] codal-mpawar opened #98 "Hey Everyone We are supported emoji or emoji parser?"
Please help me on this if any one have any idea. Please share your input.

I need text + Emoji parser.

Currenty I am able to get unicode code of emoji.

for example.
Currently: Hey Buddy 1f602;
Need: Hey Buddy 😂
https://www.codetable.net/hex/1f602

[2021-04-13 21:17] miamiappmachine commented on #88
Same issue here, hates any font beyond a regular weight. Bold, semibold, all act the same on Android

[2021-04-13 22:17] fbartho commented on #88
@miamiappmachine Have you tried to use the inspector to understand what's happening to the Text / Font Styling?

[2021-04-13 22:39] miamiappmachine commented on #88
Bizarrely I can't even select it on the element inspector in Android. No problem at all to select it on iOS (where it works perfectly)

[2021-04-13 22:49] fbartho commented on #88
That is indeed super strange. Maybe React-Native Android no longer supports Nested `<Text>` objects? This is the type of platform-specific difference that has cropped up in the past (Shadows are different on iOS vs Android, `<Image>` can be embedded in one of the `<Text>` implementations but not the other…)

Please do report back what you found. I would totally accept a PR if you find the root iss

[2021-04-20 12:08] anilios opened #99 "selectable works on iOS but not on Android."
When setting selectable = {true} for ParsedText, the copy option appears just fine on iOS on long press. But on android, it does not appear. I was able to see the copy option once in a while on Android also but it is 99% of the time not working.

` <ParsedText
            selectable
            style={styles.textStyle}
            parse={[
              {type: 'url', style: styles.userNameStyle, o

[2021-05-13 12:58] miamiappmachine commented on #88
Hey all -  problem solved. Patch file attached.

[react-native-parsed-text+0.0.22.patch.zip](https://github.com/taskrabbit/react-native-parsed-text/files/6472560/react-native-parsed-text%2B0.0.22.patch.zip)

[2021-07-02 12:25] LucDrenth commented on #60
If anybody is still wondering, you can use variables by using `RegExp`
Place the variable in RegExp to only use the variable or surround the content inside the RegExp with \`\` and then use your variable like this `${variable}`
[code]

[2021-09-14 07:17] ameer-taghavi opened #108 "how to implements using Hashtag and Bold text patterns together?"
i added this pattern to handle hashtags: `// #HASHTAG`

[code]

and added this pattern to handle bold text: `// **TEXT TO BOLD**`

[code]

example: `**test bold and #hashtag in text**`

when using these together, bold text pattern not works. when change priority of patterns, hashtags not works, how can i use both patterns to support hashtag and bold text?

[2021-09-14 07:22] ameer-taghavi commented on #94
pattern:
[code]

on press hashtag:
[code]

[2021-09-14 09:17] hristowwe opened #109 "How to get number of matches?"
For Example if i have 2 matches for hashtag pattern i want to get index of each word
![image](https://user-images.githubusercontent.com/57602380/133230958-693c8626-68a0-4bb9-94f9-4d526ef41105.png)
Where word (my) is first match so it will get 0 index and word (my) => 1
Is it possible?

[2021-09-14 12:14] hristowwe opened #110 "Change words in text?"
If i have this text like example in github
[code]
And i want to change value for **#react**
how can i do that?

[2021-10-28 12:31] kaueDM commented on #108
https://github.com/taskrabbit/react-native-parsed-text/issues/81

[2021-10-30 09:36] ameer-taghavi commented on #108
can you please write an example base on my question options? #81 not works for me!

[2021-10-31 13:44] kaueDM commented on #108
The point of #81 is: It doesn't work. I'm waiting for a fix too.

[2022-02-14 10:50] DylanRP commented on #88
Another workaround is just to pass the text as an array in your code.
So e.g.
[code]
or if you have your own component
[code]

[2022-03-24 15:43] RamProg commented on #109
+1

[2022-05-09 08:28] fukemy commented on #20
i tried but not working to me, im using giftedChat and it's does not support mention, im stucking and want to gangbang my head with this

[2022-06-01 10:46] liamdam opened #115 "Android_all format was change follow the first character when copy paste a string include #, url, text"
Hi guys, after I paste this content goto a TextInput ``` Hello this is an example of the ParsedText, links like http://www.google.com or http://www.facebook.com are clickable and phone number 444-555-6666 can call too.
          But you can also do more with this package, for example Bob will change style and David too. foo@gmail.com
          And the magic number is 42!
          #react #react-na

[2022-06-08 08:04] fredmanxu commented on #99
the same problem, have you solved it?

[2022-06-12 11:42] eminfan opened #117 "could I use it in react for a website"
I met an error like below
ERROR in ./~/react-native-parsed-text/src/ParsedText.js
/react-native-parsed-text/src/ParsedText.js: Unexpected token (23:21)
  21 | class ParsedText extends React.Component {
  22 |

     |                      ^
  24 |
  25 |   static propTypes = {
  26 |     ...React.Text.propTypes,

[2022-06-12 11:44] eminfan commented on #117
sb told like this:
The static keyword is only for methods in ES6.

Try using const to declare the variable.

it doesn't work for me

[2022-06-12 11:45] eminfan commented on #117
when I change static to const , computer told me parsedText is not a ts file

pls help me

[2022-08-16 13:04] khudratov commented on #99
same problem

[2022-10-24 06:05] Blithe-Chiang commented on #25
bro, i get the same issue, do you find a work around in the end?